main section form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

#ciudades {
    padding: 5px;
    border: 1.5px solid black;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
}

#botonciudades {
    border-radius: 8px;
    border: none;
    background-color: var(--color-theme);
    color: white;
    padding: 8px;
    width: 35%;
    margin-top: -15px;
}

.msjs {
    margin: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: .8rem;
}

.mensaje {
    color: white;
    padding: 15px;
    width: 500px;
    border-radius: 20px;
    margin-bottom: 30px;
    text-align: center;
}

#verde {
    background-color: #28A745;
}

#rojo {
    background-color: #DC3545;
}

#amarillo {
    background-color: #FFC107;
}
